<div class="main">
  <div class="container">
    <h2 class="form-heading">ユーザー情報の編集</h2>
    <div class="form users-form">
      <div class="edit-form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <div class="edit-form">
          <%= form_tag("/users/#{@user.id}/update") do %>
            <p>ユーザー名</p>
            <input name="name" style="width: 500px; height: 30px;" value="<%= @user.name %>">
            <p>メールアドレス</p>
            <input name="email" style="width: 500px; height: 30px;" value="<%= @user.email %>">
            <input type="submit" value="保存">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>