<div class="main">
  <div class="container">
    <h2 class="form-heading">ログイン</h2>
    <div class="form users-form">
      <div class="login-form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <div class="login-form">
          <%= form_tag("/login") do %>
            <p>メールアドレス</p>
            <input type="text" name="email" style="width: 500px; height: 30px;" value="<%= @email %>">
            <p>パスワード</p>
            <input type="password" name="password" style="width: 500px; height: 30px;" value="<%= @password %>">
            <input type="submit" value="ログイン">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>