<div class="main">
  <div class="container">
    <h2 class="form-heading">新規ユーザー登録</h2>
    <div class="form users-form">
      <div class="register-form-body">
        <div class="register-form">
          <%= form_tag("/users/create") do %>
            <p>ユーザー名</p>
            <input name="name" style="width: 500px; height: 30px;">
            <p>メールアドレス</p>
            <input name="email" style="width: 500px; height: 30px;">
            <p>パスワード</p>
            <input type="password" name="password" style="width: 500px; height: 30px;">
            <input type="submit" value="新規登録">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>