<img src="/assets/main_image.png" alt="" width="100%">

<div class="main">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-title">
          <%= link_to(post.title, "posts/#{post.id}") %>
        </div>
        <div class="post-content">
          <%= post.content.truncate(60) %>
        </div>
        <div class="post-user">
          by <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>