<div class="main-posts-new">
  <div class="posts-new-container">
    <h2 class="form-heading">投稿内容を書いてください</h2>
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-bady">
        <textarea name="content" placeholder="投稿内容を入力してください"></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>