<div class="main">
  <div class="container">
    <h2 class="form-heading">投稿内容を書いてください</h2>
    <%= form_tag("/posts/create") do %>
      <div class="form-body">
        <input type="text" name="title" placeholder="タイトルを入力してください">
        <textarea name="content" placeholder="投稿内容を入力してください"></textarea>
        <input type="submit" value="投稿">
      </div>
    <% end %>
  </div>
</div>