* {
  margin: 0;
  padding: 0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  background-color: #DAE0E5;
}

a { 
  text-decoration: none;
}

.flash {
  padding-left: 40px;
}

.main {
  padding-top: 50px;
}

.container {
  width:700px;
  margin:0 auto;
}

.form-heading {
  color: #fff;
  background-color: #2C3C69;
  padding-top: 6px; 
  padding-bottom: 6px; 
  padding-left: 1em;
}

/*ここからheader*/

header {
  height: 100px;
  width: auto;
  background-color: #fff;
}

.header-logo {
  float: left;
  font-family: 'arial black';
  padding: 24px 0px 0px 40px; 
}

.header-logo a {
  color: #2C3C69;
  font-size: 30px;
}

.header-menus {
  float: right;
}

.header-menus li{
  list-style: none;
  float: left;
  font-size: 18px;
  padding: 36px 40px 0px 0px; 
}

.header-menus a{
  text-decoration: none;
  color: #2C3C69;
}

/*ここからTopページ*/

.posts-index-item {
  width: auto; 
  height: auto;
  display: flex;
  align-items: center;
  padding: 1em;
  border:1px solid #DCDCDC;
  border-right:none;
  border-left:none;
  border-top:none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.post-title {
  width: 100%;
  margin-top: 8px;
}

.post-content {
  width: 100%;
  margin-top: 8px;
  font-size: 18px;
}

.post-user {
  width: 100%;
  text-align: right;
  font-size: 18px;
}

/*ここから詳細ページ*/

.posts-show-item {
  width: auto;
  height: auto;
  background-color: #fff;
  padding: 1.5em;
  margin: 1em 0;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
  font-size: 26px;
}

.post-show-title {
  width: 100%;
  margin-top: 8px;
  padding-left: 10px;
  color: #fff;
  background-color: #2C3C69;
}



.post-show-content {
  width: 100%;
  margin-top: 14px;
  font-size: 24px;
}

.post-user-name {
  width: 100%;
  text-align: right;
  font-size: 22px;
}

.post-time {
  color: #8f969c;
  margin-top: 16px;
  font-size: 16px;
}

/*ここから新規投稿ページ*/

.form-body {
  height: 400px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-body input[type="text"] {
  width: 630px;
  height: 30px;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
  border: 1px solid #DCDCDC;
  font-size: 24px;
  text-indent: 10px;
}

.form-body textarea {
  resize: none;
  width: 630px;
  height: 200px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  border: 1px solid #DCDCDC;
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;

}

.form-body input::placeholder {
  color: #c0c9d1;
}

.form-body textarea::placeholder {
  color: #c0c9d1;
}


.form-body input[type="submit"] {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: #2C3C69;
  border: none;
  float: right;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 35px;
  font-size: 18px;
}

/*ここから編集ページ*/

.form-body textarea::placeholder {
  color: #c0c9d1;
}

.list-menus {
  float: right;
  font-size: 18px;
  color: #8f969c;
}

/* ここからログイン画面 */

.login-form-body {
  height: 280px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 20px;
}

.login-form {
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.login-form p {
  margin-top: 10px;
  font-size: 18px;
}


.login-form input {
  margin-top: 10px;
  font-size: 20px;
  text-indent: 10px;
}

.login-form input[type="submit"] {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: #2C3C69;
  border: none;
  float: right;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  text-indent: 0px;

}

/* ここから新規登録画面 */

.register-form-body {
  height: 360px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 20px;
}

.register-form {
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.register-form p {
  margin-top: 10px;
  font-size: 18px;
}


.register-form input {
  margin-top: 10px;
  font-size: 20px;
  text-indent: 10px;
}

.register-form input[type="submit"] {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: #2C3C69;
  border: none;
  float: right;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  text-indent: 0px;
}

/* ここからユーザー編集ページ */

.edit-form-body {
  height: 280px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
  padding-top: 20px;
}

.edit-form {
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.edit-form p {
  margin-top: 10px;
  font-size: 18px;
}


.edit-form input {
  margin-top: 10px;
  font-size: 20px;
  text-indent: 10px;
}

.edit-form input[type="submit"] {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: #2C3C69;
  border: none;
  float: right;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  text-indent: 0px;
}


/* ここからユーザー詳細ページ */

.user-show-item {
  width: auto; 
  height: auto;
  background-color: #fff;
  display: flex;
  padding: 1em;
  margin-bottom: 50px;
  border:1px solid #DCDCDC;
  border-right:none;
  border-left:none;
  border-top:none;
  font-size: 20px;
  box-shadow: 0 2px 6px #c1ced7;
  display: flex;
  flex-direction: column;
}





