* {
  margin: 0;
  padding: 0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

a { 
  text-decoration: none;
}

/*ここからheader*/

header {
  background-color: rgb(255, 156, 169);
  height: 70px;
  width: auto;
}

.header-logo {
  float: left;
  font-family: 'arial black';
  padding: 12px 0px 0px 40px; 
}

.header-logo a {
  color: #fff;
  font-size: 24px;
}

.header-menus {
  float: right;
}

.header-menus li{
  list-style: none;
  float: left;
  font-size: 18px;
  padding: 20px 40px 0px 0px; 
}

.header-menus a{
  text-decoration: none;
  color: #fff;
}

/*ここからTopページ*/

.main-posts-index {
  padding-top: 50px;
}

.posts-index-container {
  width:700px;
  margin:0 auto;
}

.posts-index-item {
  width: auto; 
  height: auto;
  display: flex;
  align-items: center;
  padding: 1em;
  border:1px solid #DCDCDC;
  border-right:none;
  border-left:none;
  border-top:none;
  font-size: 20px;
  box-shadow: 0 2px 6px #c1ced7;
}

/*ここから詳細ページ*/

.main-posts-show {
  padding-top: 50px;
}

.posts-show-container {
  width: 700px;
  margin: 0 auto;
}

.posts-show-item {
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 1.5em;
  margin: 1em 0;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
  font-size: 26px;
}

.post-time {
  color: #8f969c;
  margin-top: 16px;
  font-size: 16px;
}

/*ここから新規投稿ページ*/

.main-posts-new{
  padding-top: 50px;
}

.posts-new-container {
  width: 700px;
  margin: 0 auto;
}

.posts-new-container h2 {
  color: #c7d0d6;
}

.form-bady {
  height: 320px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-bady textarea {
  resize: none;
  width: 630px;
  height: 200px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  border: 1px solid #DCDCDC;
  font-size: 24px;
}

.form-bady textarea::placeholder {
  color: #c0c9d1;
}

.form-bady input {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: rgb(255, 156, 169);
  border: none;
  float: right;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 35px;
  font-size: 18px;
}

/*ここから編集ページ*/

.main-posts-edit{
  padding-top: 50px;
}

.posts-edit-container {
  width: 700px;
  margin: 0 auto;
}

.posts-edit-container h2 {
  color: #c7d0d6;
}

.form-bady {
  height: 320px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-bady textarea {
  resize: none;
  width: 630px;
  height: 200px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  border: 1px solid #DCDCDC;
  font-size: 24px;
}

.form-bady textarea::placeholder {
  color: #c0c9d1;
}

.list-menus {
  float: right;
  font-size: 18px;
  color: #8f969c;
}

